a{
    text-decoration: none;
    color: black;
}

h1{
  font-size: 55px;
}

.centrado {
    text-align: center;
 }

.menu{
    display: none;
}

.menu > a{
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 20px auto;
    margin-right: 20px auto;

}

ul > li {
    float: left;
    margin: 0px 40px;
}

ul > li > a{
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 800px) and (min-width: 100px) { 
    
    .menu{
        display: block;
        width: 100%;
    }

    nav {
        width:50%;
        height:100%;
        left:-100%;
        margin:0;
        position: fixed;
                
    }

    nav > ul {
        display: block;
    }

    nav > ul > li {
        display:block;
        float:none;
    }

    .menu > a {
        display:block;
    }


}

.imag-banner{
  background-image: url(imagenes/principal.jpg); 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-size: cover; 
  width: 100%;
  height: 500px;
}

@media screen and (min-width:768px){
   .imag-banner .imag-bg img{margin-right: 100px;}
}

.products h2 {
    text-align: center;
} 

.products img{
    align-items: center;
    display: block;
}

.products a {
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 15px;
    align-items: center;
    border-bottom-right-radius: 0.5em;
}

.products a:hover{
    background-color: #037BC0;
    color: #fff;
    transition: 0.3s;
}

 
.categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;    
    max-width: 1200px;
    margin: 0 auto;
}

.producto img{
    align-items: center;
}
